/* styles.css */

/* Add a background image to the body */
body {
    background-image: url('temple1.jpg'); /* Replace 'background.jpg' with your image file */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Add a font-family for the text */
}

/* Additional styling for the header and main content */
header {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the header */
    padding: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for the main content */
    padding: 20px;
    border-radius: 10px;
}

/* Additional styling for sections */
section {
    margin-bottom: 20px;
}

h1 {
    color: #343a40;
    display:flex;
   justify-content: center;
   align-items:center;
}

p {
    color: #555;
}
.button {background-color: #7f7d9c;}
.button:hover{
 background-color: #c5c6d0;
}

.favourite-place-card-container {
    background-color: #d3d3d3;
    border-radius: 8px;
    padding: 16px;
    margin: 20px;
    margin-bottom: 15px;
}